* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


    --color1: #1a1a1d;
    --color2: #fff;
    --color3: #c3073f;
    --color4: #4e4e50;
    --color5: #ff344f42;
    --color6: #6f2232;
    --color7: #ff004c;
    --color8: #17181b;
    --font1: 'Raleway', sans-serif;
    --font2: 'Patrick Hand', cursive;
    --font3: 'Ribeye', cursive;
    --font4: 'Ribeye Marrow', cursive;



}

body {
    background-color: var(--color1);
    overflow-x: hidden;
}



/* Navbar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: -1px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
    z-index: 100;
}

nav.scroll {
    background-color: var(--color1);
    height: 8vh;
}

.logo {
    margin-left: 5%;
    flex: 4;
    color: var(--color7) !important;
    font-family: var(--font4);
    font-size: 44px;
    text-decoration: none;

}

.logo-a{
    text-decoration: none;
}

.logo-a:hover { 
    text-decoration: none; 
    color: var(--color7);

} 

.nav-linkss {
    margin-right: 5%;
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* margin-top: 1%; */
}

.nav-linkss li a {
    color: var(--color7);
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 23px;
    font-family: var(--font2);
    font-weight: bolder;
    margin-top: 15%;
}

.nav-linkss li :hover {
    text-decoration: underline var(--color3);
    color: var(--color2);

}

.nav-linkss .active {
    text-decoration: underline var(--color3);
    color: var(--color2);
}



/* Landing page */

.landing {
    height: 100vh;
    top: 0;
    margin-top: -10vh;
    background-image: url('../Img/img9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.land-content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 7fr;
    grid-template-rows: 3fr 5fr 3fr;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* background-image: url('../Img/img2.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.intro-text {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: var(--color2);

}

.primarys {
    font-size: 2.95rem;
    font-family: var(--font4);
    color: var(--color2);
}

.secondarys {
    font-size: 1.7rem;
    font-family: var(--font2);
}

.see-work {
    padding: 1rem 2rem;
    background: var(--color5);
    color: var(--color2);
    font-size: 1.2rem;
    font-family: var(--font1);
    font-weight: bolder;
    border: 3px solid var(--color7);
    cursor: pointer;
}

.dummy {
    width: 100%;
    height: 100%;
    background-image: url('../Img/img11.png');
    background-position: center;
    background-size: cover;
    grid-column-start: 3;
    grid-row-start: 2;

}



/* Preloader */


.preloader {
    overflow: hidden;
}

.h1 {
    position: absolute;
    display: flex;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    left: 50%;
    top: 58%;
    margin-left: -20px;
    align-items: center;
    justify-content: center;
}

.body {
    position: absolute;
    top: 50%;
    margin-left: -50px;
    left: 50%;
    animation: speeder .4s linear infinite;
    /* background-color: #c3073f !important; */
}

.body>span {
    height: 5px;
    width: 35px;
    background: var(--color1);
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
}

.base span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid var(--color1);
    border-bottom: 6px solid transparent;
}

.base span:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: var(--color1);
    position: absolute;
    right: -110px;
    top: -16px;
}

.base span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 55px solid var(--color1);
    border-bottom: 16px solid transparent;
    top: -16px;
    right: -98px;
}

.face {
    position: absolute;
    height: 12px;
    width: 20px;
    background: var(--color1);
    border-radius: 20px 20px 0 0;
    transform: rotate(-40deg);
    right: -125px;
    top: -15px;
}

.face:after {
    content: "";
    height: 12px;
    width: 12px;
    background: var(--color1);
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
}

.body>span>span:nth-child(1),
.body>span>span:nth-child(2),
.body>span>span:nth-child(3),
.body>span>span:nth-child(4) {
    width: 30px;
    height: 1px;
    background: var(--color1);
    position: absolute;
    animation: fazer1 .2s linear infinite;
}

.body>span>span:nth-child(2) {
    top: 3px;
    animation: fazer2 .4s linear infinite;
}

.body>span>span:nth-child(3) {
    top: 1px;
    animation: fazer3 .4s linear infinite;
    animation-delay: -1s;
}

.body>span>span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
}

@keyframes fazer1 {
    0% {
        left: 0;
    }

    100% {
        left: -80px;
        opacity: 0;
    }
}

@keyframes fazer2 {
    0% {
        left: 0;
    }

    100% {
        left: -100px;
        opacity: 0;
    }
}

@keyframes fazer3 {
    0% {
        left: 0;
    }

    100% {
        left: -50px;
        opacity: 0;
    }
}

@keyframes fazer4 {
    0% {
        left: 0;
    }

    100% {
        left: -150px;
        opacity: 0;
    }
}

@keyframes speeder {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -3px) rotate(-1deg);
    }

    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 3px) rotate(-1deg);
    }

    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.longfazers span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: var(--color1);
}

.longfazers span:nth-child(1) {
    top: 20%;
    animation: lf .6s linear infinite;
    animation-delay: -5s;
}

.longfazers span:nth-child(2) {
    top: 40%;
    animation: lf2 .8s linear infinite;
    animation-delay: -1s;
}

.longfazers span:nth-child(3) {
    top: 60%;
    animation: lf3 .6s linear infinite;
}

.longfazers span:nth-child(4) {
    top: 80%;
    animation: lf4 .5s linear infinite;
    animation-delay: -3s;
}

@keyframes lf {
    0% {
        left: 200%;
    }

    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf2 {
    0% {
        left: 200%;
    }

    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf3 {
    0% {
        left: 200%;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

@keyframes lf4 {
    0% {
        left: 200%;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}


.dup {
    height: 100vh;
    width: 100%;
    background-color: var(--color3);
}






/* About */

.heig {
    height: 100vh;
}


#about {
    background-color: var(--color1);
}

.about-head{
    color: var(--color7);
    font-family: var(--font2);
}

.about-content{
    font-family:  'Roboto', sans-serif;
}

/* Whyus */

#whyus{
    background-color: var(--color8);
}

.speciality{
    border: 1px solid var(--color2);
}

.speciality h4{
    color: var(--color7);
}

.speciality:hover{
    background-color: var(--color3);
    transition: ease-in-out .2s;
}

.speciality:hover h4{
    color: var(--color2);
    transition: ease-in-out .2s;

}







/* Service */


#services{
    /* background-image: url(../extraz/mountains_forest_landscape_146126_3840x2160.jpg);
    background-size: cover;
    background-position: center; */
    color: #efefef;
    /* background-attachment: fixed;
    padding-top:50px ;
    padding-bottom: 50px; */
}
#services h1{
    text-align: center;
    padding-bottom: 10px;
    /* color: #efefef !important; */
}

/* #services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 130px;
    margin: 10px auto 5px;
} */
.services{
    margin-top: 40px;
}

.icon{
    font-size: 45px;
    padding: 8px;
    height: 60px;
    width: 60px;
    margin: 20px auto;
    /* border: 1px solid #fff;
    border-radius: 50%; */
}
.services{
    font-family: var(--font2);
}
#services p{
    font-size: 15px;
    margin-top: 17px;
    color: #cccccc;
}

.services .col-md-4{
    margin: 0px auto;
}

.services .col-md-4:hover{
    background:var(--color7);
    color: var(--color2);
    opacity: 0.7;
    transition: 0.7s;
    cursor: pointer;
}



.modal-head{
    color: var(--color7);
}


.modal-text{
    color: var(--color7) !important;
}

.modal-content{
    background-color: var(--color1);
    border: 1px solid white;
}

.modal button{
    color: var(--color7);
    outline: none;
    border: none;
    font-size: 30px;
}

.modal button:hover{
    color: var(--color2);
}

.close{
    opacity: 1;
    text-shadow: none;
}






/* 
#service{
    background-color: var(--color1);
}
.service-head {
    font-family: var(--font2);
}

.service-img{
    max-width: 80%;
}

#portfolio {
    background-color: var(--color8);
} */



/* Team */

#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555555;
    background-color: var(--color8);
}
#team h1{
    text-align: center;
    color: var(--color7) !important;
    padding-bottom: 10px;
}
/* h1::after{
    content: '';
    background: #fff;
    display: block;
    width: 170px;
    height: 3px;
    margin: 10px auto 5px;
} */
.profile-pic{
    margin-top: 20px;
}
.profile-pic .img-box{
    opacity:1 ;
    position: relative;
    display: block;
}
.profile-pic .img-box img{
    filter: grayscale(0);
}
.profile-pic .img-box img:hover{
    filter: grayscale(1);
    transition: 0.8s;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--color7);
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}
#team .fab{
    height: 35px;
    width:35px ;
    font-size: 20px;
    color: var(--color7);
    background: #fff;
    text-align: center;
    padding: 7px;
    border-radius: 50% ;
}

#team .fab:hover{
    color: var(--color2);
    background: var(--color7);
}
/* 
#team .fab:hover .profile-pic .img-box img {
    filter: grayscale(1);
}
 */

.img-box img{
    width: 70%;
    /* height: 50%; */
}
.img-box ul{
    padding: 15px o;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}
.img-box .fab{
    color: #ffffff;
}




/* Testimonials */


#testimonials{
    padding: 50px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    /* background-color: #020202; */
    background: none;
    border: 1px solid var(--color2);
    color: var(--color2);
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img{
    top: -60px;
    position: absolute;
    left: 155px;
    border: 2px solid #fff;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: var(--color7);
}


#testimonials span{
    font-size: 12px;
    color: var(--color2);
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content: '"';
    font-size: 50px;
    color: var(--color1);
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after{
    content: '"';
    font-size: 50px;
    color: var(--color1);
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    /* box-shadow: 0 0 15px 5px rgba(250, 250, 250, 0.2); */
    background-color: var(--color3);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.profile:hover>h3{
    color: var(--color1);
    transition: ease-in-out .5s;
}


/* Contact */

#contact{
    background-color: var(--color1);
}

.maps{
    width: 100%;
    height: 70vh;
    border: none;
    outline: none;
}

.contact-icon{
    color: var(--color7);
}




/* Footer */
footer {
    background-color: black;
    width: 100%;
    bottom: 0;
}

.logo-footer {
    /* margin-left: 5%; */
    /* flex: 2; */
    color: var(--color7);
    font-family: var(--font4);
    font-size: 44px;

}

.follow {
    font-size: 2rem;
    font-family: var(--font2);
}

.but{
    color: white;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    font-size: 20px;
}

.btn-twit{
    background-color: #1B91DA;
}

.btn-link{
    background-color: #0177B5;
}

.btn-gog{
    background-color: #DE5449;
}



/* Responsive breakpoints */

@media screen and (max-width: 770px) {
    .nav-linkss {
        margin-right: 5%;
        display: flex;
        flex: 4;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .nav-linkss li a {
        font-size: 20px;
    }

    .intro-text {
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .primarys {
        font-size: 1.67rem;
    }

    .secondarys {
        font-size: 1.5rem;
    }

    .see-work {
        font-size: .8rem;
    }

    .abt{
        flex-direction: column;
    }
    .abt-img{
        /* width: 100% !important; */
        margin-bottom: 5%;
    }
    .abt-content{
        width: 100% !important;
    }
    .about-content{
        padding-left: 0px !important;
    }

    .whyussep{
        flex-direction: column;
    }

    .speciality{
        width: 50% !important;
        margin-bottom: 10px;
    }
    
}

@media screen and (min-width: 2550px) {

    .nav-linkss li a {
        font-size: 40px;
    }

    .logo {
        font-size: 64px;
    }

    nav {
        height: 120px;
    }
}

@media screen and (max-width: 1030px) {

    .intro-text {
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .primarys {
        font-size: 2.2rem;
    }

    /* 
    .secondarys {
        font-size: 1.5rem;
    }

    .see-work {
        font-size: .8rem;
    } */
}

@media screen and (max-width: 450px) {
    .line {
        width: 25px;
        height: 3px;
        border-radius: 10px;
        background: var(--color3);
        margin: 5px;
    }

    .open {
        overflow: hidden;
    }

    nav {
        /* position: relative; */
        position: sticky;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-linkss {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-linkss.open {
        background: var(--color3);
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(2160px at 90% -10%);
        pointer-events: all;
    }

    .line.open {
        background-color: var(--color2);
    }

    .nav-linkss li a {
        font-size: 25px;
        color: var(--color2);
    }

    .nav-linkss li:nth-child(1) {
        transition: all 0.5s ease 0.1s;
    }

    .nav-linkss li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-linkss li:nth-child(3) {
        transition: all 0.5s ease 0.3s;
    }

    .nav-linkss li:nth-child(4) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-linkss li:nth-child(5) {
        transition: all 0.5s ease 0.5s;
    }

    .nav-linkss li:nth-child(6) {
        transition: all 0.5s ease 0.6s;
    }

    li.fadee {
        opacity: 1;
    }




    .intro-text {
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
    }

    .primarys {
        font-size: 2rem;
        text-align: center;
    }

    .secondarys {
        font-size: 1.5rem;
    }

    .see-work {
        font-size: .8rem;
    }


    .land-content {
        grid-template-columns: 1fr 6fr 1fr;
        background-position-x: right;
    }

    .dummy {
        display: none;
    }

    .service-head {
        font-size: 2rem;
    }

    .abt{
        padding-bottom: 0px !important;
        margin-bottom: 0px;
    }

    .about-content{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .speciality{
        width: 100% !important;
        /* margin-bottom: 10px; */
    }
}